.idea
morse/.idea
__pycache__
src/morseModule.so
tests/morseModule.so
src/BinaryCodeToMorseCode/__pycache__/bitsToMorseCode.cpython-310.pyc
src/BinaryCodeToMorseCode/__pycache__/convertBinaryToMorseSymbols.cpython-310.pyc
src/BinaryCodeToMorseCode/__pycache__
tests/.pytest_cache